*, *::before,*::after{
 box-sizing:border-box;
 padding:0;
 margin:0;
}
body{
  background-color: darkgray;
}


.popular-songs > .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.popular-songs > .song-list{
  width:100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-around;
}


.artists > .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.artist-list{
  width:100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-around;
  padding: 0;
}


.footer-menu{
  position: fixed;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.footer-menu > .Footer-menuList{
 display: flex;
 width:100%;
 padding: 0;
 flex-direction: row;
 justify-content: space-around;
 list-style: none;
}